app/code/Weline/Framework/Plugin/etc/xsd/plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* 文件信息
* 作者：邹万才
* 网名：秋枫雁飞(可以百度看看)
* 网站：www.aiweline.com/bbs.aiweline.com
* 工具：PhpStorm
* 日期：2021/1/31
* 时间：18:04
* 版权：Copyright (c) 2021 AIWELINE (http://www.aiweline.com)
* 描述：此文件源码由Aiweline（秋枫雁飞）开发，请勿随意修改源码！
*/
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:Weline_Framework::Plugin/etc/xsd/plugin.xsd"
           elementFormDefault="qualified"
           version="1.0">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="plugin" type="pluginDeclaration" minOccurs="0" maxOccurs="unbounded">
                    <xs:unique name="uniqueInterceptorName">
                        <xs:annotation>
                            <xs:documentation>
                                拦截器名称必须唯一。
                            </xs:documentation>
                        </xs:annotation>
                        <xs:selector xpath="interceptor"/>
                        <xs:field xpath="@name"/>
                    </xs:unique>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniquePluginName">
            <xs:annotation>
                <xs:documentation>
                    插件名称必须唯一。
                </xs:documentation>
            </xs:annotation>
            <xs:selector xpath="plugin"/>
            <xs:field xpath="@name"/>
        </xs:unique>
    </xs:element>

    <xs:complexType name="pluginDeclaration">
        <xs:annotation>
            <xs:documentation>
                插件声明。
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="interceptor" type="interceptorDeclaration" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="pluginName" use="required"/>
        <xs:attribute name="class" type="pluginClass" use="required"/>
    </xs:complexType>

    <xs:complexType name="interceptorDeclaration">
        <xs:annotation>
            <xs:documentation>
                拦截器声明。
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    拦截器名称，在插件内必须唯一。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="instance" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    实现拦截器方法的插件实例类名。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="disabled" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    是否禁用该拦截器。默认为 false。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="sort" type="xs:integer" use="optional" default="10000">
            <xs:annotation>
                <xs:documentation>
                    拦截器的排序顺序。数值越小越先执行。
                    当同一个类和方法定义了多个拦截器时，
                    它们将按照 sort 值的升序执行。
                    如果未指定，默认值为 10000。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:simpleType name="pluginName">
        <xs:annotation>
            <xs:documentation>
                插件名称只能包含 [a-zA-Z0-9_]。
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9_]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="pluginClass">
        <xs:annotation>
            <xs:documentation>
                插件类名只能包含 [a-zA-Z0-9_]。
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9_]+"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
