app/code/Weline/Frontend/etc/xsd/menu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
           elementFormDefault="qualified"
           version="0.0.1">
    <xs:element name="menus">
        <xs:annotation>
            <xs:documentation>
                菜单声明。
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="add" type="menuDeclaration" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!--    菜单声明-->
    <xs:complexType name="menuDeclaration">
        <xs:annotation>
            <xs:documentation>
                菜单声明。
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    菜单名称，必须唯一。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="source" type="xs:integer" use="required">
            <xs:annotation>
                <xs:documentation>
                    菜单来源标识。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="title" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    菜单标题。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="action" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    菜单动作/路由。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="parent" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    父菜单名称。
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>